body {
  background-color: #e4d3cf;
}

hr {
  border-style: none;
  border-top-style: dotted;
  border-color: #b67162;
  border-width: 5px;
  width: 5%;
}

h1 {
  color: #7b113a;
}

h2 {
  color: #7b113a;
}

h3 {
  color: #7b113a;
}
